<launch>
  <node name="server" pkg="usc_quadrotor" type="usc_quadrotor_server" output="screen"/>
  <node name="usc_tf" pkg="usc_quadrotor" type="usc_quadrotor_transform" output="screen"/>
  <node name="cubes" pkg="usc_quadrotor" type="usc_quadrotor_cube" output="screen"/>
  
  <node  name="Q1" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q1" output="screen"/>
  <node  name="Q2" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q2" output="screen"/>
  <!-- node  name="Q3" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q3" output="screen"/>
  <node  name="Q4" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q4" output="screen"/ -->
  
  <!-- node pkg="usc_quadrotor" type="usc_quadrotor_tf_broadcaster"  args="/Q1" name="Q1_tf_broadcaster" />
  <node pkg="usc_quadrotor" type="usc_quadrotor_tf_broadcaster"  args="/Q2" name="Q2_tf_broadcaster" / -->

  <node pkg="usc_quadrotor" type="usc_quadrotor_listener" name="listener" output="screen"/>

  <!--node ns="Q3" name="Q3" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q4" name="Q4" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q5" name="Q5" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q6" name="Q6" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q7" name="Q7" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q8" name="Q8" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q9" name="Q9" pkg="usc_quadrotor" type="usc_quadrotor_node" />
  <node ns="Q10" name="Q10" pkg="usc_quadrotor" type="usc_quadrotor_node" / -->

  <node name="Rviz" pkg="rviz" type="rviz" args="-d $(find usc_quadrotor)/../usc_quadrotor.rviz" />

</launch>
