<launch>
  
  <node name="server" pkg="usc_quadrotor" type="usc_quadrotor_server" output="screen"/>

  <node name="planner" pkg="usc_quadrotor" type="usc_quadrotor_planner" output="screen"/>
  
  <node name="usc_tf" pkg="usc_quadrotor" type="usc_quadrotor_transform" output="screen"/>
  <node name="cubes" pkg="usc_quadrotor" type="usc_quadrotor_cube" output="screen"/>

  <node  name="Q1" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q1 $(find usc_quadrotor)/structures/struct.txt" output="screen"/>
  <node  name="Q2" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q2 $(find usc_quadrotor)/structures/struct.txt" output="screen"/>
  <node  name="Q3" pkg="usc_quadrotor" type="usc_quadrotor_node" args="Q3 $(find usc_quadrotor)/structures/struct.txt" output="screen"/>

  
  <node pkg="usc_quadrotor" type="usc_quadrotor_listener" name="listener" output="screen"/>

  <node name="Rviz" pkg="rviz" type="rviz" args="-d $(find usc_quadrotor)/../usc_quadrotor.rviz" />
  
</launch>
